<!-- <app-test></app-test> -->
 <!-- <app-instituciones-table></app-instituciones-table> -->
  <!-- <app-alumnos-table></app-alumnos-table> -->
   <!-- <app-nueva-carrera-dialog></app-nueva-carrera-dialog> -->
    <!-- <app-alumnos></app-alumnos> -->
     <!-- <app-alumno-dashboard></app-alumno-dashboard> -->
      <!-- <app-alumno-calificaciones-table></app-alumno-calificaciones-table> -->
       <!-- <app-confirm-action-dialog></app-confirm-action-dialog> -->
        <app-toast-demo></app-toast-demo>