<!-- HEADER -->
<header class="px-6 py-4 flex items-center justify-between text-slate-300">
    <div class="flex items-baseline gap-4">
      <span class="text-3xl font-bold text-slate-200">Instruya</span>
      <span class="text-xl text-slate-400">Alumnos</span>
    </div>
    <span class="text-lg text-slate-400">Administrador de institución</span>
  </header>
  
  <!-- MAIN -->
  <main class="px-6 pb-10">
    <div class="rounded-2xl border border-slate-700 bg-slate-800 shadow-md p-4">
      <p-table
        [value]="alumnos"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5,10,20]"
        styleClass="w-full"
      >
        <ng-template pTemplate="header">
          <tr class="text-slate-300">
            <th class="w-[10%]">Nombre</th>
            <th class="w-[12%]">Apellido</th>
            <th class="w-[10%]">DNI</th>
            <th class="w-[18%]">Email</th>
            <th class="w-[30%]">Dirección</th>
            <th class="w-[10%]">Teléfono</th>
            <th class="w-[10%]">Instituto</th>
          </tr>
        </ng-template>
  
        <ng-template pTemplate="body" let-a>
          <tr class="text-slate-200">
            <td class="py-3">{{ a.nombre }}</td>
            <td class="py-3">{{ a.apellido }}</td>
            <td class="py-3 text-slate-300">{{ a.dni }}</td>
            <td class="py-3 text-slate-300">{{ a.email }}</td>
            <td class="py-3 text-slate-300">{{ a.direccion }}</td>
            <td class="py-3 text-slate-300">{{ a.telefono }}</td>
            <td class="py-3">
              <span class="inline-flex items-center gap-2">
                <i class="pi pi-building text-blue-400"></i>
                {{ a.instituto }}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </main>
  